.App {
  text-align: center;
}

.App-logo {
  margin-bottom: 32px;
}

.App-header {
  background-color: #e8e2e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9e7373;
}

.App-link {
  display: inline-block;
  color: #1baaef;
  margin-left: 1rem;
  margin-right: 1rem;
}
